/* src/components/DialogBox.css */

.dialog-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}





.dialog-overlay.show {
  display: flex;
}

.dialog-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 13px;
  width: 420px;
  height: 420px;
}
.dialog-section{
  margin: 10px;

}
.serch-section{
  display: flex;
  justify-content: space-between;
}

.search{
  line-height: 27px;
}

.search p{
     font-size: 14px;
}
.search-box input{
  border-radius: 5px;
  width: 400px;
  height: 41px;
  font-size: 18px;
  margin: 10px;
  padding: 11px;
}
.add-section{
  display: flex;
  font-size: 14px;
  color: rgb(37, 197, 236);

}



/* scrolsection */

.coin-section{
   display: flex;
    margin: 9px;
    align-items: center;
    gap: 13px;
    padding: 9px;
    border-radius: 6px;
    border: 1px solid gray;

}

.coin-section:Hover{
  background-color:#aaaaaa;
}

.right{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.left img{
     width: 20px;
     height: 20px;
}