.mane{
    background-color: #fff;
    margin-top: 116px;
    margin: 61px;
    border-radius: 10px;
    height: 350px;
    display: flex;
    flex-direction: column;
}


.container {
    display: flex;
    justify-content: center;
    padding: 18px;

  }
  .container-data{
    display: flex;
    justify-content: space-between;
    padding: 40px 40px 0px 40px;
    margin: 0;

  }
  .container-data p{
    font-size: 15px;
  }
  
  .left-side,
  .right-side {
    display: flex;
    align-items: center;
  }
  
  .square1 {
    width: 400px;
    height: 150px;
    border-radius: 6px 0px 0px 6px;
    border: solid rgba(187, 183, 183, 0.425);
    
  }
  
  .square2 {
    width: 400px;
    height: 150px;
    border-radius: 6px 0px 0px 6px;
    border: solid  #e6eef5ce ;
    background-color:#e6eef5ce ;
    
  }
  
  .center{
    display: flex;
    align-items: center;
  }
  
  .center .center-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .top-sec {
    width: 180px;
    border-top: 70px solid rgb(81, 214, 231);
    border-bottom: 8px solid rgb(81, 214, 231);
    border-left: 50px solid  rgb(81, 214, 231);
    border-right: 50px solid rgb(81, 214, 231);
    border-color: rgb(81, 214, 231) transparent transparent transparent;
    border-radius: 5px;
  }
   .top-sec-data{
    gap: 7px;
    margin-top: -43px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 10px;
     display: flex;
   }
  
  .bottom-sec {
    width: 180px;
    border-top: 8px solid rgb(186, 186, 238);
    border-bottom: 70px solid rgb(186, 186, 238);
    border-left: 50px solid rgb(186, 186, 238);
    border-right: 50px solid rgb(186, 186, 238);
    border-color:  transparent transparent rgb(186, 186, 238) transparent;
    border-radius: 5px;
    
  }
  .bottom-sec-data{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-size: 10px;
    color: #fff;
  
  }



  

  
  .triangle1 {
    border-left: 60px solid #ceb8b8a9;
    border-right: 0px solid transparent;
    border-bottom: 75px solid transparent;
    border-top: 75px solid transparent;

  }
  
  .triangle2 {
    border-left: 0px solid transparent;
    border-right: 60px solid  #ceb8b8a9;
    border-bottom: 75px solid transparent;
    border-top: 75px solid transparent;
     
  }
  
  .icon{
     color: aqua;
     display: none;
  }
  .icon-d{
    color: aqua;
  }

  .squre-data{
    display: flex;
    margin: 10px;
    align-items: center;
    gap: 10px;
  }
  .squre-data img{
    width: 30px;
  }
  .end-data{
    text-align: center;
    color: rgb(44, 188, 255);
    font-size: 12px;
    font-weight: bold;
    
  }
  .squre-num{
    display: flex;
    margin: 30px;
    margin-top: 60px;
    justify-content: space-between;
    align-items: center;
  }
  .squre-num p{
    font-size: 24px;
    color: rgba(101, 104, 104, 0.479);
    font-weight: bold;
  }
  .squre-num button{
    cursor: pointer;
    width: 35px;
    height: 25px;
    border: none;
    border-radius: 5px;
    color: rgb(47, 166, 187);
     background-color: rgb(161, 223, 223);
  }
  .square2 h1{
    margin: 14px;
    margin-top: 60px;
    color: black;
    font-size: 24px;
    font-weight: bold;
  }

  .footer-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
  }
  .footer-secocial{
    gap: 10px;
  }
  .To{
    line-height:24px ;
  }
  .right-mobile{
     display: none;
  }







@media (max-width:800px){
    .container{
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
    .triangle1,.triangle2{
      display: none;
    }
    .icon{
      display: block;
    }

    .mane{
        height: auto;
        margin: 9px;
    }
    .square1 {
        width: 226px;
        height: 100px;
    }
    .square2{
        width: 226px;
        height: 100px;
    }
    .squre-num{
      margin: 18px;
    }
    .square2 h1{
      margin: 18px;
    }
    .icon-d{
      display: none;
    }
    .To{
      display: none;
    }
    .right-mobile{
      display: block;
      margin-left: 55px;
    }
    .right-mobile p{
      font-size: 15px;
    }
  }









  
