* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background-color:#e6eef5ce ;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

.ln{
  line-height: 34px;
}
.in{
    width: 430px;
    height: 80px;
    border-radius: 5px;
}
.mr{
  margin: 25px;
}
.flex{
  display: flex;
}
.mt{
  margin-top: -78px;
}
.ln{
  line-height: 24px;
}
.hover:hover{
   background-color: #e6eef5ce;
}
.cur{
   cursor: pointer;
}

.primarybg{
  background-color: #e6eef5ce;
}
.primarycl{
  color: black;
}


